<div class="formbook" data-controller="payment">
  <%= simple_form_for @booking, html: {  data: { action: "submit->payment#submit", payment_target: "form" } } do |f| %>
    <%= f.input :start_date, as: :string, label: 'Date de début de réservation', error: 'Vous devez être connecté pour réserver', input_html: { data: { controller: 'flatpickr' }} %>
    <%= f.input :end_date, as: :string, label: 'Date de fin de réservation', input_html: { data: { controller: 'flatpickr' }} %>
    <%= f.button :submit, 'Soumettre' %>

    <%= link_to 'Retour', pokemons_path%>
  <% end %>
  <div data-payment-target="payments" style="display: none;">
  <%= render 'bookings/payment' %>
  </div>
</div>
