<h1>Bookings</h1>
<div class="d-flex justify-content-center">
  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 80%; max-width: 600px;">
    <div class="row">
      <% @bookings.each do |booking| %>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= booking.pokemon.name %></h5>
                  <p class="card-text">Durée : <%= (booking.end_date - booking.start_date).to_i %> jours</p>
                  <p class="card-text">Prix total : <%= booking.pokemon.price * (booking.end_date - booking.start_date).to_i %>€</p>
                  <%= render 'delete', booking: booking %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= render 'new', booking: Booking.new %>
  </div>
</div>
