<h1>New Booking</h1>
<%= form_for @booking do |f| %>
  <div>
    <%= f.label :pokemon_id %>
    <%= f.text_field :pokemon_id %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Back', bookings_path %>
