<div class="container">

<h1>Add a new offer</h1>
<p>Eheh</p>

<%= simple_form_for @pokemon do |f| %>
  <%=f.input :name, collection: Pokemon.all, value_method: :name, label: "Nom du Pokémon", include_blank: false%>
  <%=f.input :services, collection: %w[courses parking promenade nage babysitting massage menage jardinage avocat tueur-a-gages] %>
  <%= f.input :price, label: 'Price/day (€)'%>
  <%= f.submit 'Create your offer' %>
<% end %>

<%= render 'pokemon_cards' %>

<p><%= link_to "Back", pokemons_path %></p>

</div>
