<div class="container">
  <h1>Vos pokemons</h1>

  <%= simple_form_for @pokemon do |f| %>
    <%=f.input :name, collection: Pokemon.where(user_id: nil), value_method: :name, label: "Nom du Pokémon", include_blank: false%>
    <%=f.input :services, collection: %w[Courses Parking Promenade Babysitting Massage Menage Jardinage Avocat Tueur-a-gages Massage+ Escort Braquage Ami] %>
    <%= f.input :price, label: 'Price/day (€)'%>
    <%= f.submit 'Create your offer' %>
  <% end %>

  <%= render 'pokemon_card_newview' %>

  <p><%= link_to "Back", pokemons_path %></p>
</div>
