<div class="navbar-services">
<%= link_to '/pokemons?query=courses' do %>
  <div class="service>
  <i class="fa-solid fa-cart-shopping"></i>
  </div>
  <% end %>
  <%= link_to '/pokemons?query=parking' do %>
  <div class="service">
    <i class="fa-solid fa-square-parking"></i>
  </div>
    <% end %>
  <%= link_to '/pokemons?query=promenade' do %>
  <div>
  <i class="fa-solid fa-person-walking-with-cane"></i>
  </div>
  <% end %>
  <%= link_to '/pokemons?query=massage' do %>
  <div>
  <i class="fa-solid fa-spa"></i>
  </div>
  <% end %>
  <%= link_to '/pokemons?query=babysitting' do %>
  <div>
  <i class="fa-solid fa-baby"></i>
  </div>
  <% end %>
  <%= link_to '/pokemons?query=ménage' do %>
  <div>
  <i class="fa-solid fa-broom"></i>
  </div>
  <% end %>
  <%= link_to '/pokemons?query=jardinage' do %>
  <div>
  <i class="fa-solid fa-tree"></i>
  </div>
  <% end %>
  <%= link_to '/pokemons?query=avocat' do %>
  <div>
  <i class="fa-solid fa-scale-unbalanced-flip"></i>
  </div>
  <% end %>
  <%= link_to '/pokemons?query=massage+' do %>
  <div>
  <i class="fa-solid fa-temperature-arrow-up"></i>
  </div>
  <% end %>
  <%= link_to '/pokemons?query=tueur-à-gages' do %>
  <div>
  <i class="fa-solid fa-book-skull"></i>
  </div>
  <% end %>
  <%= link_to '/pokemons?query=braquage' do %>
  <div>
  <i class="fa-solid fa-people-robbery"></i>
  </div>
  <% end %>
  <%= link_to '/pokemons?query=ami' do %>
  <div>
  <i class="fa-solid fa-face-kiss-beam"></i>
  </div>
  <% end %>
  <%= link_to '/pokemons?query=escort' do %>
  <div>
  <i class="fa-solid fa-caravan"></i>
  </div>
  <% end %>
</div>
